
/* Action buttons */

.facetwp-region .condition-object,
.facetwp-region .action-object {
    width: 180px;
}

.facetwp-region .condition-compare,
.facetwp-region .action-toggle {
    width: 60px;
}

.facetwp-region input.condition-value {
    width: 140px;
}

.facetwp-region input.export-code {
    width: 100%;
    background-color: #eee;
}

.facetwp-region textarea.import-code {
    white-space: normal;
}

/* Drop buttons */

.btn-drop {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: #a00;
}

.btn-drop:before {
    content: '\f335';
    font: 400 20px/1 dashicons;
    vertical-align: middle;
}

.hidden {
    display: none;
}