
.condition-wrapper {
  border-bottom: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  margin: 6px 0 6px 30px;
}

.baldrick-modal-body .condition-wrapper {
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 19px 0 0 #fff inset, 20px 0 0 #dfdfdf inset;
  margin: 6px 0;
}


.condition-item {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #dfdfdf;
  box-shadow: 18px 0 0 #e9e9e9 inset, 19px 0 0 #dfdfdf inset, 0 1px 3px rgba(0, 0, 0, 0.04), 101px 0 0 #f1f1f1 inset, 102px 0 0 #dfdfdf inset;
  padding: 6px 6px 6px 23px;
  margin-bottom: 6px;
  position: relative;
}

.condition-item.condition-or {
  border-top: medium none;
  box-shadow: 18px 0 0 #e9e9e9 inset, 19px 0 0 #dfdfdf inset, 0 1px 3px rgba(0, 0, 0, 0.04), 59px 0 0 #f1f1f1 inset, 60px 0 0 #dfdfdf inset;
  margin: -6px 0 6px 42px;
}

.condition-item .condition-clause {
  color: #9f9f9f;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
}
.condition-item.condition-or .condition-clause {
  width: 33px;
}
.condition-remove-line {
  color: #cfcfcf;
  cursor: pointer;
  left: -1px;
  position: absolute;
  top: -1px;
}
.condition-remove-line:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #d4d4d4;
  color: #a2a2a2;
}
.condition-item .condition-field {
  display: inline-block;
  margin-left: 21px;
}
.condition-item.condition-or .condition-field {
  margin-left: 16px;
}
.condition-item .condition-field select {
  display: inline-block;
  vertical-align: inherit;
  width: auto;
}
.uix-control-box-content .condition-field-select {
  width: 180px;
  vertical-align: baseline;
}
.uix-control-box-content .condition-field-compare {
  text-align: center;
  vertical-align: baseline;
}
.condition-item .condition-actions {
  display: inline;
  margin-left: 24px;
  text-transform: uppercase;
}
.condition-item .condition-actions .button {
  margin-right: 6px;
}
.condition-item .condition-actions .dashicons {
  padding: 2px 0;
}
.condition-item.condition-or .condition-action-or{
  display: none;
}

.dataTables_length {
  margin-bottom: 12px;
}
.uix-sortable-placeholder {
  border: 1px dashed #9f9f9f;
  margin-bottom: 4px;
}
.uix-sort-box{
  margin-bottom: 4px;
}
.uix-sort-box.ui-sortable-helper {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.14);
}


.uix-save-confirm {
  color: #00af10;
  font-size: 28px;
  margin: 2px 0 0 2px;
  display: none;
}
.uix-save-spinner.facetwp-loading {
    opacity: 0;
    visibility: hidden;
    display: none;
    margin: 0 0 -2px 6px;  
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    -webkit-animation: rotate 700ms infinite linear;
    -moz-animation: rotate 700ms infinite linear;
    animation: rotate 700ms infinite linear;
}

/* CSS animations */

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}